.item {

  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
  align-items: baseline;
  border: 1px solid #3a3a3a;
  justify-content: space-between;

  &:last-child {

    margin-bottom: 0;
  }

  i {

    width: 5%;
    text-align: center;
    cursor: pointer;
  }

  .delete {

    font-size: 20px;
    display: block;
  }

  &__text {

    width: 70%;
  }

  &__label {

    padding: 5px 10px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #3a3a3a;
    border-radius: 2px;
    margin-right: 5px;
    cursor: pointer;
  }

  &__date {

    font-size: 10px;
    width: 20%;
  }
}

.todo {
  &__item {

    text-decoration: none;
    color: #000;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
  }
}
