.item {

  position: relative;

  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;
  padding: 10px;

  border: 1px solid #3a3a3a;

  &__top {

    display: flex;
    align-items: baseline;
    justify-content: space-between;

    width: 100%;
  }

  &:last-child {

    margin-bottom: 0;
  }

  i {

    width: 5%;

    cursor: pointer;
    text-align: center;
  }

  &__text {

    width: 80%;
  }

  &__label {

    font-size: 8px;

    margin-right: 5px;
    padding: 5px 10px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    color: #fff;
    border-radius: 2px;
    background-color: #3a3a3a;
  }

  &__date {

    font-size: 10px;

    width: 20%;
  }
}

.todo {
  &__item {

    display: flex;

    width: 100%;
    margin-bottom: 30px;

    text-decoration: none;

    color: #000;
  }
}

button {

  border: none;
}

.item__edit,
.item__delete {

  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 5px;

  text-decoration: none;

  color: #000;
}

.item__edit {

  font-style: italic;

  text-decoration: underline;
}
