.todo__edit {

  margin-bottom: 20px;
}

.edit {

  position: relative;

  &__field {

    font-size: 14px;

    width: 100%;
    padding: 5px;
  }

  &__close {

    color: gray;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-decoration: none;
  }
}
