.modal-overlay {

  display: flex;
  background-color: rgba(#000, 0.5);

  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  height: 100%;
  width: 100%;
}

.modal {

  margin: auto;
  width: 80%;
  height: 90%;
  max-height: 200px;
  background-color: #fff;

  &-container {

    display: flex;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    width: 100%;
  }

  &-content {

    height: 60%;

    h4 {
      margin: 0;
      padding: 40px;
      text-align: center;
    }
  }

  &-footer {

    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {

      cursor: pointer;
      margin: 10px;
      padding: 10px 20px;

      color: #fff;
      border: 1px solid #eee;
      background-color: #3a3a3a;

      &:hover {

        color: #3a3a3a;
        border: 1px solid #3a3a3a;
        background-color: #fff;
      }
    }
  }
}
